body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
}

.topbar {
    padding: 10px;
    background: #1c1c1c;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 6px 12px;
    margin-left: 5px;
    cursor: pointer;
}

#viewer {
    width: 100vw;
    height: calc(100vh - 100px);
}

.info {
    margin-top: 8px;
    font-size: 14px;
}

#distanceResult {
    margin-left: 15px;
    font-weight: bold;
    color: #4caf50;
}

#imageInputForm {
    display: block;
}

#correctMeasureForm {
    display: block;
}
